<div class="transbox">
<h1>Isten hozott a Karácsonyi Aukción!</h1>

<div class="row">

  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/zodiac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[0].name }}</h5>
        <p class="card-text">{{artList[0].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[0].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[0].available}}</li>

      </ul>
      <div class="card-body">
        <a href="admin" class="card-link">Licitálok</a>

      </div>
    </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="assets/iloveimg-resized (1)/Kaméliás hölgy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[1].name }}</h5>
          <p class="card-text">{{artList[1].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[1].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[1].available}}</li>

        </ul>
        <div class="card-body">
          <a href="admin" class="card-link">Licitálok</a>

        </div>
      </div>
</div>


<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/gyümölcsök.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[2].name }}</h5>
      <p class="card-text">{{artList[2].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[2].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[2].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/sb.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[3].name }}</h5>
      <p class="card-text">{{artList[3].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[3].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[3].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/champagne.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[4].name }}</h5>
      <p class="card-text">{{artList[4].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[4].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[4].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>

<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/sb.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[5].name }}</h5>
      <p class="card-text">{{artList[5].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[5].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[5].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/A nap fénypontja.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[6].name }}</h5>
      <p class="card-text">{{artList[6].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[6].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[6].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/l in the g.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[7].name }}</h5>
      <p class="card-text">{{artList[7].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[7].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[7].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/dance2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[8].name }}</h5>
      <p class="card-text">{{artList[8].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[8].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[8].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Chocolate Ideal.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[9].name }}</h5>
      <p class="card-text">{{artList[9].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[9].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[9].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Madonna2 (1).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[10].name }}</h5>
      <p class="card-text">{{artList[10].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[10].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[10].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/La musique2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[11].name }}</h5>
      <p class="card-text">{{artList[11].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[11].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[11].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/ph2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[12].name }}</h5>
      <p class="card-text">{{artList[12].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[12].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[12].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/the kiss.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[13].name }}</h5>
      <p class="card-text">{{artList[13].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[13].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[13].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/The Tree of Life.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[14].name }}</h5>
      <p class="card-text">{{artList[14].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[14].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[14].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/3 korú nő.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[15].name }}</h5>
      <p class="card-text">{{artList[15].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[15].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[15].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Beethoven Frieze.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[16].name }}</h5>
      <p class="card-text">{{artList[16].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[16].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[16].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Beethoven Frieze.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[17].name }}</h5>
      <p class="card-text">{{artList[17].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[17].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[17].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Bauerngarten.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[18].name }}</h5>
      <p class="card-text">{{artList[18].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[18].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[18].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/lwf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[19].name }}</h5>
      <p class="card-text">{{artList[19].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[19].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[19].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/fop.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[20].name }}</h5>
      <p class="card-text">{{artList[20].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[20].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[20].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/sunf.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[21].name }}</h5>
      <p class="card-text">{{artList[21].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[21].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[21].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Danae.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[22].name }}</h5>
      <p class="card-text">{{artList[22].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[22].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[22].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Lóra támadó jaguár.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[23].name }}</h5>
      <p class="card-text">{{artList[23].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[23].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[23].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/kbüvnő.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[24].name }}</h5>
      <p class="card-text">{{artList[24].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[24].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[24].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Tigris küzdelme egy bivallyal,.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[25].name }}</h5>
      <p class="card-text">{{artList[25].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[25].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[25].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Az álom.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[26].name }}</h5>
      <p class="card-text">{{artList[26].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[26].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[26].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/.Eiffel-torony.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[27].name }}</h5>
      <p class="card-text">{{artList[27].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[27].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[27].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Egzotikus táj.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[28].name }}</h5>
      <p class="card-text">{{artList[28].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[28].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[28].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Karneválest.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[29].name }}</h5>
      <p class="card-text">{{artList[29].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[29].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[29].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Alvó cigánylány.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[30].name }}</h5>
      <p class="card-text">{{artList[30].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[30].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[30].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Flamingók.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[31].name }}</h5>
      <p class="card-text">{{artList[31].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[31].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[31].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/H.R Önarckép.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[32].name }}</h5>
      <p class="card-text">{{artList[32].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[32].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[32].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Háromkirályok imádása.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[33].name }}</h5>
      <p class="card-text">{{artList[33].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[33].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[33].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Tavasz.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[34].name }}</h5>
      <p class="card-text">{{artList[34].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[34].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[34].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/vsz.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[35].name }}</h5>
      <p class="card-text">{{artList[35].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[35].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[35].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Madonna del Magnificat.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[36].name }}</h5>
      <p class="card-text">{{artList[36].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[36].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[36].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/fort.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[37].name }}</h5>
      <p class="card-text">{{artList[37].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[37].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[37].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/cosimo (1).jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[38].name }}</h5>
      <p class="card-text">{{artList[38].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[38].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[38].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/The Trials of Moses2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[39].name }}</h5>
      <p class="card-text">{{artList[39].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[39].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[39].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/vandm.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[40].name }}</h5>
      <p class="card-text">{{artList[40].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[40].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[40].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/idea.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[41].name }}</h5>
      <p class="card-text">{{artList[41].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[41].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[41].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Ecce homo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[42].name }}</h5>
      <p class="card-text">{{artList[42].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[42].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[42].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Ecce homo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[43].name }}</h5>
      <p class="card-text">{{artList[43].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[43].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[43].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/7fb.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[44].name }}</h5>
      <p class="card-text">{{artList[44].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[44].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[44].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/Az utolsó ítélet.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[45].name }}</h5>
      <p class="card-text">{{artList[45].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[45].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[45].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/A gyönyörök kertje.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[46].name }}</h5>
      <p class="card-text">{{artList[46].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[46].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[46].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-xl-3 mt-2">
  <div class="card" style="width: 18rem;">
    <img src="/assets/iloveimg-resized (1)/A kőoperáció.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ artList[47].name }}</h5>
      <p class="card-text">{{artList[47].author}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{artList[47].price}}</li>
      <li class="list-group-item">Megvásárolható ma este: {{ artList[47].available}}</li>

    </ul>
    <div class="card-body">
      <a href="admin" class="card-link">Licitálok</a>

    </div>
  </div>
</div>




</div>
</div>
