<h1>Isten hozott a Szecesszió Világában</h1>
<p>A szecesszió kivonulást, elkülönülést jelent, utalva arra, hogy 1897-ben Bécsben negyvenkilenc művész kivonult a városi művészeti központból, hogy új művészetet teremtsen. A századforduló jellegzetes képző- és iparművészeti, valamint irodalmi irányzata stílusként nehezen értelmezhető, historizmus- és eklektikaellenes mozgalom, ami minden országban másként nyilvánult meg. Sokáig a 19. század összekuszálódott végének vagy a 20. század tisztázatlan kezdetének tekintették. Önálló értékeire az 1970-es évektől figyeltek föl. Felmerült többek között az az értelmezési lehetőség, hogy a szecesszió az avantgárd legkorábbi fázisa. Az irányzatról kialakult negatív vélemények máig nehezítik az értékelést, a helyzetet pedig tovább bonyolítja, hogy 20. században és napjainkban is a szecesszió fokozatosan, majd egyre tömegesebben a kereskedelmi képzőművészet és a giccs forrásává vált.


</p>

  <div class="row">

    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/zodiac.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[0].name }}</h5>
          <p class="card-text">{{artList[0].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[0].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[0].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3 mt-2">
        <div class="card" style="width: 18rem;">
          <img src="assets/iloveimg-resized (1)/Kaméliás hölgy.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ artList[1].name }}</h5>
            <p class="card-text">{{artList[1].author}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{artList[1].price}}</li>
            <li class="list-group-item">Megvásárolható ma este: {{ artList[1].available}}</li>

          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Licitálok</a>

          </div>
        </div>
  </div>


  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/gyümölcsök.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[2].name }}</h5>
        <p class="card-text">{{artList[2].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[2].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[2].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/sb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[3].name }}</h5>
        <p class="card-text">{{artList[3].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[3].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[3].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/champagne.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[4].name }}</h5>
        <p class="card-text">{{artList[4].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[4].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[4].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/sb.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[5].name }}</h5>
        <p class="card-text">{{artList[5].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[5].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[5].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/A nap fénypontja.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[6].name }}</h5>
        <p class="card-text">{{artList[6].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[6].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[6].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/l in the g.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[7].name }}</h5>
        <p class="card-text">{{artList[7].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[7].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[7].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/dance2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[8].name }}</h5>
        <p class="card-text">{{artList[8].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[8].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[8].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Chocolate Ideal.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[9].name }}</h5>
        <p class="card-text">{{artList[9].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[9].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[9].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Madonna2 (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[10].name }}</h5>
        <p class="card-text">{{artList[10].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[10].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[10].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/La musique2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[11].name }}</h5>
        <p class="card-text">{{artList[11].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[11].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[11].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/ph2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[12].name }}</h5>
        <p class="card-text">{{artList[12].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[12].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[12].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/the kiss.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[13].name }}</h5>
        <p class="card-text">{{artList[13].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[13].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[13].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/The Tree of Life.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[14].name }}</h5>
        <p class="card-text">{{artList[14].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[14].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[14].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/3 korú nő.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[15].name }}</h5>
        <p class="card-text">{{artList[15].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[15].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[15].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Beethoven Frieze.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[16].name }}</h5>
        <p class="card-text">{{artList[16].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[16].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[16].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Beethoven Frieze.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[17].name }}</h5>
        <p class="card-text">{{artList[17].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[17].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[17].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Bauerngarten.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[18].name }}</h5>
        <p class="card-text">{{artList[18].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[18].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[18].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/lwf.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[19].name }}</h5>
        <p class="card-text">{{artList[19].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[19].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[19].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/fop.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[20].name }}</h5>
        <p class="card-text">{{artList[20].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[20].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[20].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/sunf.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[21].name }}</h5>
        <p class="card-text">{{artList[21].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[21].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[21].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mt-2">
    <div class="card" style="width: 18rem;">
      <img src="/assets/iloveimg-resized (1)/Danae.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ artList[22].name }}</h5>
        <p class="card-text">{{artList[22].author}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{artList[22].price}}</li>
        <li class="list-group-item">Megvásárolható ma este: {{ artList[22].available}}</li>

      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Licitálok</a>

      </div>
    </div>
  </div>


</div>


