<h1>Isten hozott a Szecesszió Világában</h1>
<p>A szecesszió kivonulást, elkülönülést jelent, utalva arra, hogy 1897-ben Bécsben negyvenkilenc művész kivonult a városi művészeti központból, hogy új művészetet teremtsen. A századforduló jellegzetes képző- és iparművészeti, valamint irodalmi irányzata stílusként nehezen értelmezhető, historizmus- és eklektikaellenes mozgalom, ami minden országban másként nyilvánult meg. Sokáig a 19. század összekuszálódott végének vagy a 20. század tisztázatlan kezdetének tekintették. Önálló értékeire az 1970-es évektől figyeltek föl. Felmerült többek között az az értelmezési lehetőség, hogy a szecesszió az avantgárd legkorábbi fázisa. Az irányzatról kialakult negatív vélemények máig nehezítik az értékelést, a helyzetet pedig tovább bonyolítja, hogy 20. században és napjainkban is a szecesszió fokozatosan, majd egyre tömegesebben a kereskedelmi képzőművészet és a giccs forrásává vált.


</p>

  <div class="row">
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Lóra támadó jaguár.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[23].name }}</h5>
          <p class="card-text">{{artList[23].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[23].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[23].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/kbüvnő.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[24].name }}</h5>
          <p class="card-text">{{artList[24].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[24].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[24].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Tigris küzdelme egy bivallyal,.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[25].name }}</h5>
          <p class="card-text">{{artList[25].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[25].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[25].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Az álom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[26].name }}</h5>
          <p class="card-text">{{artList[26].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[26].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[26].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/.Eiffel-torony.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[27].name }}</h5>
          <p class="card-text">{{artList[27].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[27].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[27].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Egzotikus táj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[28].name }}</h5>
          <p class="card-text">{{artList[28].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[28].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[28].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Karneválest.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[29].name }}</h5>
          <p class="card-text">{{artList[29].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[29].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[29].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Alvó cigánylány.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[30].name }}</h5>
          <p class="card-text">{{artList[30].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[30].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[30].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/Flamingók.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[31].name }}</h5>
          <p class="card-text">{{artList[31].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[31].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[31].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mt-2">
      <div class="card" style="width: 18rem;">
        <img src="/assets/iloveimg-resized (1)/H.R Önarckép.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artList[32].name }}</h5>
          <p class="card-text">{{artList[32].author}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{artList[32].price}}</li>
          <li class="list-group-item">Megvásárolható ma este: {{ artList[32].available}}</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Licitálok</a>

        </div>
      </div>
    </div>
  </div>
