.container{
  background-image: url(/assets/images/abstract-art-background-with-acrylic-paint-stains-canvas-modern-art-color-texture_34050-535.jpg);

  position: relative;
  top: 10px;
  left: auto;
  right: auto;


  min-width: 100%;
  min-height: 100%;

}
