<h1>Üdvözöljük a Licitálok között</h1>

<h3>Ha szeretne Licitálni, kérjük töltse ki az ürlapunkat. A licitek titkosak, a kiindulási árakat megbecsültük.</h3>

<div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Kérem válassza ki a kíválasztott festményt</option>
    <option value="1">Zoodiac</option>
    <option value="2">Kaméliás hölgy</option>
    <option value="3">Gyümölcsök</option>
    <option value="4">Sarah Bernhardt Publicité</option>
    <option value="5">Biscuits Champagne</option>
    <option value="6">Bières de la Meuse</option>
    <option value="7">A nap fénypontja</option>
    <option value="8">Lady in green</option>
    <option value="9">La danse</option>
    <option value="10">Chocolate ideal</option>
    <option value="11">Madonna</option>
    <option value="12">La musique</option>
    <option value="13">Princess Hyacinthe</option>
    <option value="14">A csók</option>
    <option value="15">The Tree of Life</option>
    <option value="16">The Three Ages of Woman</option>
    <option value="17">Beethoven Frieze</option>
    <option value="18">Death and Life</option>
    <option value="19">Bauerngarten</option>
    <option value="20">Lady with Fan</option>
    <option value="21">Field of Poppies</option>
    <option value="22">The Sunflower</option>
    <option value="23">Danae</option>
    <option value="24">Lóra támadó jaguár</option>
    <option value="25">A kígyóbűvölő nő</option>
    <option value="26">A Tigris küzdelme</option>
    <option value="27">Az álom</option>
    <option value="28">Eiffel-torony</option>
    <option value="29">Egzotikus táj</option>
    <option value="30">Karneválest</option>
    <option value="31">Alvó cigánylány</option>
    <option value="32">Flamingók</option>
    <option value="33">Önarckép</option>
    <option value="34">Háromkirályok imádása</option>
    <option value="35">Vénusz születése</option>
    <option value="36">Madonna del Magnificat</option>
    <option value="37">Fortitude</option>
    <option value="38">Portré Cosimoval</option>
    <option value="39">The Trials of Moses</option>
    <option value="40">Venusz és Mars</option>
    <option value="41">Idealized Portrait of a Lady</option>
    <option value="42">Mystic Nativity </option>
    <option value="43">Ecce homo </option>
    <option value="44">A hét főbűn</option>
    <option value="45">Az utolsó ítélet</option>
    <option value="46">A gyönyörök kertje</option>
    <option value="47">A kőoperáció</option>






  </select>
  <label for="floatingSelect">Képválasztás</label>
</div>


<div class="form-floating mt-3">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Kérem válassza ki a kívánt összeget, hogy mennyivel szeretné növelni az árat</option>
    <option value="1">1000000</option>
    <option value="2">10000000</option>
    <option value="3">10000000000</option>
    <option value="4">10000000000000</option>
    <option value="5">10000000000000000</option>

  </select>
  <label for="floatingSelect">Licitválasztás</label>
</div>

<button type="button" class="btn btn-light mt- 4">Küldés</button>



