h1 {
text-align: center;
text-decoration:dashed;
margin-top: 80px;
}
 h3{
  text-align: center;

margin-top: 80px;

 }

 h4{
  text-align: center;

margin-top: 80px;
text-shadow: 1px 1px 2px;
 }


body {
  color:black;
}
.d-grid {
  text-align: center;
  margin-top: 150px;
  size: 300px;
}
